<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot default setup -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <logger name="no.nav" level="INFO"/>
    <logger name="org.springframework.web.client" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
